/* CSS to style the logo */
.logo {
    width: 180px; /* Adjust the width as needed */
    height: 130px; /* Set the height manually */
    margin: 20px auto; /* Center the logo horizontally and provide some spacing */
    display: block; /* Ensure the logo is displayed as a block element */
}

.form {
    margin-top: 3%;
    margin-left: 23%;
    margin-right: 20%;
}

.button, .main-button {
    margin-top: 3%;
    background: linear-gradient(45deg, pink, purple);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    width: 200px;
}

.small-button {
    width: 48%;
    margin-right: 1%; /* Decrease the margin here */
    background: linear-gradient(45deg, pink, purple);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

.small-button:last-child {
    margin-right: 0;
}

.result {
    margin-left: 38%;
    padding-top: 5%;
    color: whitesmoke;
}

.centered-button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.centered-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .form, .button, .main-button {
        margin-left: 5%;
        margin-right: 5%;
        max-width: none;
        width: auto; /* Allows the button to adjust on smaller screens */
    }
    .small-button {
        width: 100%;
        display: block; /* Stacks the buttons on smaller screens */
        margin-bottom: 8px;
    }
}
